* {
  --rightRegionPadding: 32px;
}

body {
  display: flex;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.left-image {
  position: relative;

}

.plant-img {
  height: 100vh;
  width: 500px;
}

.left-region {
  width: 500px;
  box-sizing: border-box;
}

.logo-box {
  font-family: "Pacifico";
  position: absolute;
  background-color: black;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  top: 8rem;
  display: flex;
  height: 150px;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  padding: 16px;
  box-sizing: border-box;
}

.odin-text {
  font-size: 45px;
  text-align: center;
  display: flex;
  align-items: center;
}

.right-region {
  background-color: #E9ECEF
}

.quote {
  padding-top: 150px;
  padding-left: var(--rightRegionPadding);
  padding-right: calc(7 * var(--rightRegionPadding));
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 24px;
  gap: 16px;
}

.signup-region {
  background-color: white;
  padding-top: 16px;
  padding-left: var(--rightRegionPadding);
  padding-right: calc(7 * var(--rightRegionPadding));
  padding-bottom: 50px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.signup-header {
  font-weight: 600;
  font-size: 24px;
  padding-bottom: 16px;
}

label {
  display: block;
}

fieldset {
  border: none;
  display: flex;
  gap: 100px;
  padding-left: 0;
}

input {
  width: 200px;
  border: 1px solid #E5E7EB;
  border-radius: 4px;
  height: 20px;
}

:focus {
  border: blue;
}

.button-region {
  padding-top: var(--rightRegionPadding);
  padding-left: var(--rightRegionPadding);
  padding-right: calc(7 * var(--rightRegionPadding));
}

.submit-button {
  width: 250px;
  height: 50px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  background-color: #596D48;
  border: none;
  border-radius: 8px;
}

input:user-invalid {
  border-color: red;
}

